*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.part-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
   
   
}
img{
    width: 100%;
}
.part-2,.part-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
   
   
}
.part-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
   
}
.box>div{
    width:33.33%;
   
}
.part-5{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 100px;
    width: 50%;
}
.part-5-1,.part-5-2{
    display: flex;
    gap: 30px;
    text-align: center;
}
